body
{
    background-color: azure
}

.calculadora
{
    display: block;
    margin:0 auto;
    padding: 20px;
    background-color:skyblue;
    width: 500px;
    height: 550px;
    border-radius: 30px;
    border: solid black;
    box-shadow: 0 10px 20px black;
    
    
}
#resultado
{
    padding: 20px 9px 20px 9px;
    background-color:black;
    color:mintcream;
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 450px;
    height: 100px;
    line-height: 100px;
    overflow-y: scroll;

    
}
.calculadora td button
{
    display: block;
    width: 110px;
    height: 50px;
    font-size: 30px;
    background-color: lightblue;
    /*box-shadow: 0 10px 20px black;*/
}
