@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255) (107, 19, 19);
  font-family: "Bangers", cursive;
}
header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.video_inicio {
  width: 100%;
  height: 100%;
}
.contenedor_absolute {
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 90px;
  font-weight: 400;
  z-index: 100;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
h1::after {
  display: block;
  width: 60%;
  height: 15px;
  content: "";
  margin: auto;
  background: rgba(129, 10, 10, 0.521);
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.37);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}
.footer {
  background: rgba(0, 0, 0, 0.815);
  color: white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 18px;
  text-align: center;
  margin-top: -15px;
}
.copy {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-top: 15px;
}
.footer [class*="icon-"] {
  display: inline-block;
  color: rgb(236, 229, 229);
  text-decoration: none;
  font-size: 30px;
  padding: 7px;
  background: rgba(148, 43, 43, 0.671);
  border-radius: 50%;
  width: 57px;
  height: 55px;
  line-height: 40px;
  text-align: center;
}
.btnlogin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
button {
  position: relative;
  /*
    font-size: 2em;
    margin: 30px;
    border: none;
    font-family: 'Bangers', cursive;
    background: rgba(0, 0, 255, 0.37);
    text-decoration: none;*/
  font-family: "Bangers", cursive;
  background: rgba(53, 29, 29, 0.932);
  border: none;
  display: block;
  width: 15%;
  margin: 30px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(245, 28, 28);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);
}
a {
  position: relative;
  padding: 25px;
  text-decoration: none;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.959);
  text-align: center;
}
