@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  /*background-color:dimgrey;*/
  /*font-family: 'Montserrat Subrayada', sans-serif;*/
  margin: 0;
  /* background: rgba(66, 66, 141, 0.452);*/
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Bangers", cursive;
  letter-spacing: 1.5px;
}

.seccion_titulo {
  text-align: center;
  font-size: 45px;
  color: rgba(99, 9, 9, 0.616);
  font-family: "Bangers", cursive;
  font-weight: 600;
}
.contenedor {
  margin: auto;
  width: 99%;
}
/*.sección_infor{
    
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
*/
/*.sección_flex{
    display: flex;
    flex-wrap: wrap;
}
.column
{
    width: 100%;
    

}
/*-------------------------------ESTILOS HEADER-------*/
.header {
  height: 70px;
  /* width: 100%;
    position: relative;
    overflow: hidden;
    background: rgba(214, 228, 176, 0.39);
    /*height: 100%;
    background:brown;
    color: white;
    position: relative;*/

  /*position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;*/
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
}
.logo,
.icon-menu {
  margin: 5px;
}
/*.icon-menu
{
    margin: 5px;
    color: #fff;
}*/
.icon-menu {
  display: block;
  color: rgba(255, 240, 240, 0.801);
  border: 2px solid rgba(243, 235, 235, 0.514);
  border-radius: 6px;
  width: 40px;
  height: 40px;
  margin: 9px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: auto;
  background: rgba(7, 7, 7, 0.788);
}
/*---------------ESTILOS MENU-------------*/
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.8s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link_menu {
  text-decoration: none;
  display: block;
  padding: 8px;
  background: #7c2f2fcb;
  color: rgba(0, 0, 0, 0.979);
  font-family: "Ranchers", cursive;
}
.link_menu:hover,
.select {
  background: rgba(56, 6, 6, 0.623);
  color: rgba(255, 255, 255, 0.842);
}
.mostrar {
  left: 0;
}
/*------------BANNER--------*/
.banner {
  margin-top: -70px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}
.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bangers", cursive;
  background: rgba(71, 25, 25, 0.589);
}

/*-----ESTILOS CURSOS------*/
.curso_columna {
  position: relative;
  margin-bottom: 30px;
}
.cursos_descripcion {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(80, 15, 15, 0.658);
  width: 50%;
  padding: 30px;
  height: 100%;
}
.cursos_titulo {
  font-size: 25px;
  margin: 5px 0;
}
.cursos_img {
  width: 100%;
  height: 100%;
}
.bar_img {
  width: 50%;
  height: 50%;
  margin: 0;
  border-radius: 50%;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);
  margin-bottom: 20px;
}
.baner {
  width: 100%;
  display: flex;
}
.contenedo {
  margin: auto;
  padding: 20px;
}
.acercade_titulo {
  font-size: 40px;
  font-weight: 500;
  font-family: "Bangers", cursive;
}
.acercade {
  width: 100%;
  color: rgba(85, 18, 30, 0.705);
  font-size: 30px;
  font-weight: 100;
  font-family: "Bangers", cursive;
}
/*---------ESTILOS FOOTER----*/

.footer {
  background: rgba(0, 0, 0, 0.815);
  color: white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 18px;
  text-align: center;
  margin-top: -15px;
}
.copy {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-top: 15px;
}
.footer [class*="icon-"] {
  display: inline-block;
  color: rgb(236, 229, 229);
  text-decoration: none;
  font-size: 30px;
  padding: 7px;
  background: rgba(148, 43, 43, 0.671);
  border-radius: 50%;
  width: 57px;
  height: 55px;
  line-height: 40px;
  text-align: center;
}
/*-------------ESTILOS RESPONSIVOS-----------*/
@media (min-width: 480px) {
  .logo {
    font-size: 35px;
  }
  .banner_titulo {
    font-size: 30px;
    margin: 10px 0;
  }
  .seccion_titulo {
    width: 100%;
  }
  .cursos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .curso_columna {
    width: 49%;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}
@media (min-width: 768px) {
  .banner_titulo {
    font-size: 50px;
    /*margin: 10px 0;*/
  }
  .cursos_titulos {
    font-size: 40px;
  }
  /*.link_menu{
        font-size: 20px;
    }*/
}
@media (min-width: 1024px) {
  .contenedor {
    width: 1000px;
  }
  .seccion_titulo {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .link_menu {
    background: none;
    font-size: 20px;
  }
  .select {
    color: rgb(71, 40, 40);
    background: #c5342fad;
  }
  .banner__titulo {
    font-size: 60px;
  }
  .cursos__descripcion {
    padding: 20px;
  }
  .cursos__titulo {
    font-size: 50px;
  }
  .cursos__txt {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .contenedor {
    width: 1050px;
  }
  .logo {
    font-size: 40px;
  }
  .banner .contenedor {
    top: 40%;
  }
}
