* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255) (107, 19, 19);
  font-family: "Bangers", cursive;
}
.header {
  height: 80px;
  width: 100%;
}
.header_contenedor {
    display: flex;
    justify-content: space-between;
  }

 /*----ESTILOS TRATAMIENTO-------*/
 .tratamiento_columna {
    position: relative;
    margin-bottom: 40px;
  
    
  } 
  .tratamiento_descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(68, 56, 56, 0.329);
    padding: 30px;
    height: 50%;
  }
  .tratamiento_img {
    width: 100%;
    height: 100%;
  }
  .contenedor_tratamiento
  {
    margin: auto;
    display: flex;   
    width: 99%; 
    
  }
  .seccion_titulo
  {
    /*text-align: center;*/
    font-size: 45px;
    color: rgba(99, 9, 9, 0.616);
    font-family: "Bangers", cursive;
    font-weight: 600;
  }
  @media (min-width: 480px) {
    .section_tratamiento {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 0;
    }
    .tratamiento_columna {
      width: 25%;
    }
    .seccion_titulo {
        width: 100%;
      }
  }
