<ion-header>
  <ion-toolbar>
    <ion-title>curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Round -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Codigo</ion-label>
          <ion-input [(ngModel)]="cursoAuxiliar.codigo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Cupo</ion-label>
          <ion-input [(ngModel)]="cursoAuxiliar.cupo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Descripcion</ion-label>
          <ion-input [(ngModel)]="cursoAuxiliar.descripcion"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button shape="round" (click)="nuevo()">Nuevo</ion-button>
  <ion-button shape="round" (click)="grabar()">Grabar</ion-button>
  <ion-button shape="round" (click)="consultar()">Consultar</ion-button>
  <ion-button shape="round" (click)="eliminar()">Eliminar</ion-button>

  <ion-grid>
    <ion-row *ngFor="let item of cursosAuxiliar">
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.descripcion}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.cupo}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.codigo}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>