@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: rgba(0, 128, 0, 0.61);
    font-family: 'Krona One', sans-serif;
    padding: 20px;
    color: rgba(104, 24, 24, 0.884);
    text-align: center;

}
body{
    background: rgba(119, 105, 105, 0.466);
}
.menu{
    list-style: none;
    padding: 0;
    background: green;
    width: 30%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover , select{
    background: rgba(99, 35, 35, 0.705);
    color: rgba(255, 255, 255, 0.842);
}
.link_menu:hover , .select{
    background: rgba(56, 6, 6, 0.623);
    color: rgba(255, 255, 255, 0.842);
}
.acercade_titulo{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Bangers', cursive;
}
.acercade{
    width: 100%;
    color: rgba(85, 18, 30, 0.705);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Bangers', cursive;

}
.bar_img{
    width: 50%;
    height: 50%;
    margin: 0;
    border-radius: 50%;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);
    margin-bottom: 20px;
    
}
.baner{
    
    width: 100%;
    display: flex;
    
}
.problema{
    background: rgba(114, 27, 27, 0.459);
    width: 600px;
    height: 400px;
    margin: auto;
    font-size: 21px;
    font-weight: 600;
    border-radius: 10px;

}
.problema img{
    width: 600px;
    
}
.contenedor_tutorias input{
    display: flex;
    margin: 5px;
    padding-top: 5px;
    background: rgba(126, 21, 21, 0.37);

   
}
.contenedor_tutorias input{
    display: flex;
    margin: 5px;
    padding-top: 5px;
    background: rgba(126, 21, 21, 0.37);

   
}
button{
    position: relative;
    background:none;
    padding:10px;
}
.contenedor_tutorias{
    margin: 100px auto;
    width: 700px;
}
table{
    width: 100%;
    height: 50%;
    background-color: rgba(41, 80, 31, 0.637);
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    color: beige;
    font-family: 'Ubuntu', sans-serif;
}
