@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../imagenes/pexels-pixabay-270360.jpg) ;
    
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Krona One', sans-serif;
   
    

}
header{
    background: rgba(20, 95, 33, 0.911);
    
    max-width: 100%;
    margin:250px auto;
    margin-top: 250px;
    padding-top: 100px;
    text-align: center;

}
 h1{
    margin: auto;
    margin: 0 0 28px 0;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 0, 0, 0.76);
    font-size: 60px;
}

.login_contenedor{
    background: rgba(20, 95, 33, 0.932);
    width: 100%;
    max-width: 500px;
    margin: 250px auto;
    color: rgba(241, 216, 216, 0.884);
    border-radius: 5px;
    padding: 35px;

}
.login_contenedor h2{
    margin: 0 0 28px 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;

}
.login_contenedor input,label{
    outline: none;
    display: block;
    width: 100%;
    margin: auto;
    padding: 5px;
    color: rgba(0, 0, 0, 0.884);
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid;
    margin: 0 0 2px 0;
}
.login_contenedor button{
    background: rgba(139, 17, 17, 0.781);
    
    width: 130px;
    padding: 10px 0;
    font-size: 25px;
     font-weight: 800;
     color: white;
     
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login_contenedor button  :hover{
    background: rgba(100, 85, 26, 0.596);
}
.login_contenedor button a{
    text-decoration: none;
    color: rgba(224, 215, 215, 0.884);
}


