body
{
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1,h2,h3
{
     font-size: 30px;
     color: indigo;
}

span
{
    color: springgreen;
}
.cuadro
{
    background-color: gray;
}

.resaltado
{
    font-size: 40px;
    color: red;
}
.resaltadodos
{
    font-size: 30px;
    color: darkred;
}
#azul
{
    color: darkblue;
}
#negro 
{
    color: brown;
    font-size: 20px;
}








