*{
    
    box-sizing: border-box;
}
body{
      font-family: Arial, Helvetica, sans-serif;

     
/*.contenedor{
    position: relative;
    padding: 2em;
    background: rgba(97, 29, 29, 0.438);
    

}*/
}
label{
    margin-bottom: 10px;
}
form{
   
    /*background: rgba(82, 19, 19, 0.781) ;*/
    padding: 50px 0;
  /*  box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);*/
    border-radius: 10px;
    justify-content: center;
    width: 350px;
    
}
.nav{

    top: 60px;
    left: -100%;
    width: 100%;
    color: black;
    

}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    z-index: 1000;
    
}
.link_menu
{
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #fffefecb;
    color: rgba(5, 2, 2, 0.979);
    
}
.form{
    
   padding: 20px;
    background-color:rgba(135, 207, 235, 0.514);
    width: 500px;
    height: 700px;
    border-radius: 30px;
    border: solid black;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px black;
    
}
table{
    background: white;
    color: rgb(3, 3, 3);
    padding: 20px;
    font-size: 2em;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);

    
    
}

.header{
    height: 70px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
    background-color:rgba(135, 207, 235, 0.562);
    
}

button{
   
    background:  rgba(95, 51, 51, 0.582);
    border: none;
    display: block;
    width: 80%;
    margin: 30px auto;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 8px rgba(240, 203, 203, 0.973);
}
.warning{
    width: 200px;
    text-align: center;
    display: flex;
    font-size: 2em;
    margin: auto;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}
label{
    color: rgb(8, 0, 0);
    font-size: 16px;
    left: 7px;
    top: 1px ;
    transition: 0.5s ease all;
    pointer-events: none;
    font-size: 30px;

}
input{
    background: none;
    color: rgba(0, 0, 0, 0.959);
    font-size: 20px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    
}
input:focus{
    outline: none;
    color: rgba(0, 0, 0, 0.959);
}
.contenedor{
    margin: auto;
    width: 99%;
}
.datos{
    width: 100%;
    padding: 30px;
}
.ubicacion{
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 30px;
}
.bar_img{
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 50px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);
    margin-bottom: 20px;
    
}
.baner{
    
    width: 100%;
    display: flex;
    padding: 20px;
    
}
.contenedo{
    margin: auto;
    padding: 20px;
}
.acercade_titulo{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Bangers', cursive;
}
.acercade{
    width: 100%;
    color: rgba(85, 18, 30, 0.705);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Bangers', cursive;
}

.footer{
    background: rgba(0, 0, 0, 0.815);
    color: white;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 35px;
    font-size: 18px;
    text-align: center;
    margin-top: 130px;

}
.copy{
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-top: 15px;

}
.footer [class*="icon-"]{
    display: inline-block;
    color: rgb(236, 229, 229);
    text-decoration: none;
    font-size: 30px;
    padding: 7px;
    background: rgba(148, 43, 43, 0.671);
    border-radius: 50%;
    width: 57px;
    height: 55px;
    line-height: 40px;
    text-align: center;
    
}