<ion-header>
  <ion-toolbar>
    <ion-title>Tutoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tutoria</h1>
  
  <!--ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">C.I Estudiante</ion-label>
        <ion-input [(ngModel)]="registroTutoria.IDEstudiante"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label position="floating">ID</ion-label>
          <ion-input [(ngModel)]="registroTutoria.ID"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">C.I Estudiante</ion-label>
          <ion-input [(ngModel)]="registroTutoria.IDEstudiante"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre Estudiante</ion-label>
          <ion-input [(ngModel)]="registroTutoria.NombreEstudiante"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">C.I Docente</ion-label>
          <ion-input [(ngModel)]="registroTutoria.IDDocente"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre Docente</ion-label>
          <ion-input [(ngModel)]="registroTutoria.NombreDocente"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Tema tratado</ion-label>
          <ion-input [(ngModel)]="registroTutoria.TemaTratado"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label>Unidad Sílabo</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="registroTutoria.UnidadSílabo">
            <ion-select-option value="U1">U1</ion-select-option>
            <ion-select-option value="U2">U2</ion-select-option>
            <ion-select-option value="U3">U3</ion-select-option>
            <ion-select-option value="U4">U4</ion-select-option>
            <ion-select-option value="U5">U5</ion-select-option>
            <ion-select-option value="U6">U6</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Detalles del tema</ion-label>
          <ion-input [(ngModel)]="registroTutoria.Detalle"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="success" (click)="grabar()">Registrar</ion-button>
  <ion-button color="success" (click)="nuevo()">Nuevo registro</ion-button>
  <ion-button color="success" (click)="consultar()">Consultar</ion-button-->

</ion-content>
