.item
{
    background: burlywood;
    padding: 30px;
    border: darkred;
}

.contenedor
{
    display: grid ;
    grid-template-rows: 100px 1fr 150px ;
    grid-template-columns: 300px 1fr;

    grid-gap : 5px;
    height: 100vh;


    grid-template-areas: "cabecera cabecera"
                         "izquierdo contenido"
                         "pie pie"

}


.cabecera
{
    grid-area: cabecera;
}
.izquierdo
{
    grid-area: izquierdo;
}
.contenido
{
    grid-area: contenido;
}
.pie
{
    grid-area: pie;
}




