body 
{
  background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;  
}

/********* Header *********/

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header::before{
  content: "";
  display: block;
  margin-bottom: 80px;
}

nav{
  width: 100%;
  height: 80px;
  background: rgb(22, 21, 21);
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: ease-in-out 0.5s;
  border-style: dotted; 
  border-width: 1px;
}
.nav{
  display: flex;  
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 40px;
}


.enlaces-header{
  font-weight: 300;
  transition: ease-in-out 0.5s;
}

.nav .enlaces-header a{
  color: #ebe6e5;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 5px;
  margin-left: 40px;
}

.nav .enlaces-header a:hover{
  background-color: rgba(238, 28, 28, 0.726);
  transition: color .5s;
}

.opciones{
  width: 80px;
  height: 80px;
  display: none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.opciones > i{
  font-size: 25px;
  line-height: 80px;
}


/**************************/

.sign-in
{
  width: 300px;
  height: -100px;
  color:  #fdf9f9;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 30px;
}

.sign-in h2
{  
  margin: 0;
  padding: 0 0 22px;
  text-align: center;
  font-size: 20px;
}

.sign-in label
{
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.sign-in input
{
  width: 120%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sign-in input[type="text"],
.sign-in input[type="password"]
{
  border: none;
  border-bottom: 1px solid #141414;
  background: transparent;
  outline: none;
  height: 40px;
  color: #f1eeee;
  font-size: 16px;
}

.sign-in input[type="submit"]
{
  border: none;
  outline: none;
  height: 30px;
  background: #020202;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;  
}

.sign-in-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.partFooter{
  width: 120%;
  text-align: center;
}

.partFooter i{
  font-size: 60px;
  display: inline-block;
  color: #050505;
  width: 70px;
  height: 60px;
  line-height: 60px;
  cursor:pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out .3s;
  margin-right: 5px;
}