<ion-header>
  <ion-toolbar>
    <ion-title>Psicologia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Cedula</ion-label>
          <ion-input [(ngModel)]="psicologiaCita.Cedula"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">NombrePaciente</ion-label>
          <ion-input [(ngModel)]="psicologiaCita.NombrePaciente"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Psicologo</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="psicologiaCita.Psicologo" >
            <ion-select-option *ngFor="let item of psicologos" value="{{item.Nombre}}">{{item.Nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input [(ngModel)]="psicologiaCita.Telefono" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-input [(ngModel)]="psicologiaCita.Fecha" type="date"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Hora</ion-label>
          <ion-input [(ngModel)]="psicologiaCita.Hora" type="time"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

   

  <ion-button color="success" (click)="guardar()">Enviar solicitud</ion-button>
  <ion-button (click)="nuevo()">Nueva Solicitud</ion-button>
  <ion-button (click)="consultar()">Consultar Solicitud</ion-button>


  <ion-grid>
    <ion-row *ngFor="let item of psicologiaCitas">
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Cedula}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.NombrePaciente}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Psicologo}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Telefono}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Hora}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Fecha}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Estado}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button (click)="consultar1()">Consultar Psicologos Disponibles</ion-button>
  <ion-grid>
    <ion-row *ngFor="let item of psicologos">
      <!--ion-col>
        <ion-item color= "primary" (click)="seleccionarPsicologo(item.ID)">
          <ion-label position="fixed">{{item.ID}}</ion-label>
        </ion-item>
      </ion-col-->
      <ion-col>
        <ion-item >
          <ion-label position="fixed">{{item.Nombre}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Telefono}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{item.Estado}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>