<ion-header>
  <ion-toolbar>
    <ion-title>Tutoria</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-item color="danger">
          <ion-select placeholder="Seleccione ID" [(ngModel)]="registroTutoria.ID" >
            <ion-select-option *ngFor="let item of registrosTutoria" value="{{item.ID}}">{{item.ID}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item color="danger">
          <ion-label position="floating">C.I Estudiante</ion-label>
          <ion-input [(ngModel)]="registroTutoria.IDEstudiante"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item color="danger">
          <ion-label position="floating">Nombre Estudiante</ion-label>
          <ion-input [(ngModel)]="registroTutoria.NombreEstudiante"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item color="danger">
          <ion-label position="floating">C.I Docente</ion-label>
          <ion-input [(ngModel)]="registroTutoria.IDDocente"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="danger">
          <ion-label position="floating">Nombre Docente</ion-label>
          <ion-input [(ngModel)]="registroTutoria.NombreDocente"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item color="danger">
          <ion-label position="floating">Tema tratado</ion-label>
          <ion-input [(ngModel)]="registroTutoria.TemaTratado"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item color="danger">
          <ion-label>Unidad Silabo</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="registroTutoria.UnidadSilabo">
            <ion-select-option value="U1">U1</ion-select-option>
            <ion-select-option value="U2">U2</ion-select-option>
            <ion-select-option value="U3">U3</ion-select-option>
            <ion-select-option value="U4">U4</ion-select-option>
            <ion-select-option value="U5">U5</ion-select-option>
            <ion-select-option value="U6">U6</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item color="danger">
          <ion-textarea placeholder="Detalles de la tutoria..." [(ngModel)]="registroTutoria.Detalle">Detalles del tema
          </ion-textarea>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
  <h3>Nota: Consultar tutorias antes de escribir los datos para enviar</h3>

  <ion-button (click)="grabar()">Registrar</ion-button>
  <ion-button (click)="nuevo()">Nuevo registro</ion-button>
  <ion-button (click)="consultar()">Consultar Tutorias</ion-button>
  <!--ion-button color="success" (click)="consultar2()">Consultar Alumnos</ion-button>

  <!ion-grid *ngFor="let item of agregaralumnos">
    <ion-row>
      <ion-col size="3">
          <ion-item color="danger" (click)= consultaIndividual(item.Identificacion)>
            <ion-label position="fixed">{{item.Identificacion}}</ion-label>
          </ion-item >  
      </ion-col>
      <ion-col size="4">
        <ion-item color="success">
          <ion-label position="fixed">{{item.Nombre}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid-->
  

  <!--ion-button color="primary">Primary</ion-button>
<ion-button color="secondary">Secondary</ion-button>
<ion-button color="tertiary">Tertiary</ion-button> 
<ion-button color="success">Success</ion-button>
<ion-button color="warning">Warning</ion-button>
<ion-button color="danger">Danger</ion-button>
<ion-button color="light">Light</ion-button>
<ion-button color="medium">Medium</ion-button>
<ion-button color="dark">Dark</ion-button-->

  <ion-grid *ngFor="let item of registrosTutoria">
    <ion-row>
      <h6>ID</h6>
      <ion-col size="1">
        <ion-item color="warning">
          <ion-label position="fixed">{{item.ID}}</ion-label>
        </ion-item>
      </ion-col>

      <h6>Estudiante</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.NombreEstudiante}}</ion-label>
        </ion-item>
      </ion-col>

      <h6>CI Est.</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.IDEstudiante}}</ion-label>
        </ion-item>
      </ion-col>

      <h6>Docente</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.NombreDocente}}</ion-label>
        </ion-item>
      </ion-col>

      <h6>CI Doc.</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.IDDocente}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <h6>Tema</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.TemaTratado}}</ion-label>
        </ion-item>
      </ion-col>
      <h6>U.Silabo</h6>
      <ion-col size="1">
        <ion-item color="medium">
          <ion-label position="fixed">{{item.UnidadSilabo}}</ion-label>
        </ion-item>
      </ion-col>
      <h6>Nivel.T</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.NivelTutoria}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <h6>Detalle</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-label position="fixed">{{item.Detalle}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <h6>Observaciones</h6>
      <ion-col>
        <ion-item color="medium">
          <ion-textarea placeholder="" readonly>{{item.Observacion}}</ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>