@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    box-sizing: border-box;
}
img
{
    display: block;
    max-width: 100%;
   
}
body{
    font-family: 'Bangers', cursive;
    
    background-size: cover;
    /*background-color:dimgrey;*/
    /*font-family: 'Montserrat Subrayada', sans-serif;*/
    margin: 0;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(252, 255, 248);
   
   
}


h1{
   
    text-align: center;
    font-weight: 100;
    letter-spacing: 1.5px;
  }
form{
   
    background: rgba(82, 19, 19, 0.781) ;
    padding: 50px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.973);
    border-radius: 10px;
    width: 350px;
}
.form{
    width: 100%;
    margin: auto;
}
form .datos{
    position: relative;
    margin: 45px;
}
input{
    background: none;
    color: rgba(255, 255, 255, 0.959);
    font-size: 20px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.747);
}
input:focus{
    outline: none;
    color: rgba(255, 255, 255, 0.959);
}
label{
    color: rgb(216, 208, 208);
    font-size: 16px;
    position: absolute;
    left: 7px;
    top: 1px ;
    transition: 0.5s ease all;
    pointer-events: none;
    


}
input:focus~label, 
input:valid~label{
    top: -16px;
    font-size: 15px;
    color: rgba(255, 9, 124, 0.753);
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: rgba(161, 14, 14, 0.658);
    transition: 0.3s ease width;
    left: 0;
}
input:focus~.barra::before{
   
width: 100%;

}
.warning{
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(255, 115, 0);
    padding-top: 20px;
}
button{
    font-family: 'Bangers', cursive;
    background:  rgba(100, 33, 33, 0.493);
    border: none;
    display: block;
    width: 100%;
    margin: auto;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    color: #f3ecec;
    box-shadow: 0 0 8px rgba(8, 1, 1, 0.973);
}
.parrafo{
    text-align: center;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}
a{
    position: relative;
    padding: 25px;
    text-decoration: none;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.959);
    text-align: center;
}




